@model CostVal

<h2>Update @Model.purchesName</h2>

@using (Html.BeginForm("UpdateCostValToDatabase", "PlaceHolder2", "Post"))
{
    <input asp-for="purchesID" type="hidden" value="@Model.purchesID" />

    <label asp-for="purchesName" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.purchesName" />

    <label asp-for="cost" class="control-label">cost</label>
    <input type="number" step="0.01" name="cost" class="form-control" value="@Model.cost" />

    <input type="submit" value="Update CostVal" class="btn btn-primary" />
}